*{
    box-sizing: border-box;
    font-family: 'Dm sans', 'trebuchet MS';
}

body{
    padding: 1vw
}

header{
    display: flex;  
    flex-direction: column;
    align-items: center; 
    background-color: #d8d8d8;
}

#header-logo{
    max-width: 40vw;
    padding: 1vw;
}


nav{
    width: 100%;
    background-color: rgb(20, 36, 78);
    display: flex;
    padding: 0.7vw;
    justify-content: center;
}

nav a{
    font-size: 2.9vw;
    text-decoration: none;
    color: white;
    padding: 0.5vw 3vw;
}

nav a:hover{
    font-weight: 400;
}

.content{
    text-align: center;
}

.content h1{
    text-align: center;
    font-size: 2vw;
    margin: 3vw 5vw;
    font-size: 6vw;
    color: rgb(20, 36, 78)
}

.contet h2{
    font-size: 4vw;
}

.cards{
    display: grid;
    grid-template-rows: 130vw 130vw 130vw;
}

.card{
    display: flex;
    flex-direction: column;
    margin: 3vw;
    border-radius: 7vw;
    background-color: rgb(196, 196, 196);
    text-align: center;
}

.card img{
    width: 100%;
    height: 50vw;
    object-fit: cover;
    border-radius: 5vw 5vw 0 0;
}

.card h2{
    font-size: 6vw;
    margin: 0
}

.card p{
    padding: 0 6vw;
    font-size: 4vw;
    color: rgb(20, 36, 78);
    font-weight: 500;
}

.card-text{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
}

.clients a{
    text-decoration: none;
    color: black;
    font-size: 4vw;
    font-weight: bold;
}

.clients a:hover{
    font-size: 4.2vw
}

.iframe{
    display: flex;
    justify-content: center;
} 

iframe{
    width: 90vw;
    height: 60vw;
}

@media (orientation: landscape) {
    .content h1{
        font-size: 3vw;
    }

    nav a{
        font-size: 1.5vw;
        padding: 0 2vw;
    }

    #header-logo{
        max-width: 30vw;
    }
    
    .cards{
        grid-template-columns: 2.2fr 2.2fr 2.2fr;
        grid-template-rows: 40vw;
        max-width: 100vw;
        gap: 5vw;
    }

    .card{
        margin: 0;
        border-radius: 2vw;
    }

    .card:hover{
        transform: scale(1.05);
        transition: .3s;
    }

    .card img{
        width: 100%;
        height: 15vw;
        object-fit: cover;
        border-radius: 2vw 2vw 0 0;
    }

    .card-text{
        justify-content: start;
    }

    .card h2{
        font-size: 2vw;
        margin-top: 1vw;
    }

    .card p{
        font-size: 1.5vw;
        padding: 2vw
    }

    .clients a{
        font-size: 2vw;
    }

    .clients a:hover{
        font-size: 2.2vw;
    }

    iframe{
        margin: 4vw 0;
        width: 40vw;
        height: 30vw
    }
}